<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings> 
    <add name="ChatContext" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=localhost;Database=forum;User Id=sa;Password=testtest1!;"/> 
  </connectionStrings>
</configuration>